/* MISC */

.App-link {
  color: #61dafb;
}


/* HEADER */

.App-header {
  display: flex;
  flex-direction: row;

  height: 75px;

  font-size: 20px;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  background-color: #3284ad;
}

.App-header .App-logo {
  height: 80%;

  margin: 7.5px;
  object-fit: contain;
  pointer-events: none;
}

.App-header nav {
  height: 100%;
}

.App-header nav ul {
  display: flex;
  /* align-items: center; */

  height: 100%;

  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  list-style-type: none;
}

.App-header nav ul li {
  display: flex;
  align-items: center;
  text-align: center;

  margin-right: 5vw;
  border-bottom: 5px solid #3284ad;
  opacity: 0.8;
  transition: 200ms;
}

.App-header nav ul li:hover {
  border-bottom: 5px solid white;
  opacity: 1.0;
  cursor: pointer;
}

/* MAIN */

main {
  height: 40px;
  background-color: lightgrey;
}

/* FOOTER */

footer {
  height: 40px;
  background-color: lightgrey;
}
