/* MISC */

body {
  background-color: #EBEBEB;
}

/* remove default link styling */
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}

/* HEADER */

.App-header {
  display: flex;
  flex-direction: row;

  height: 75px;

  font-size: 18px;
  color: white;
  background-color: #7d7d7d;
  /* background: linear-gradient(to top, #758288, #87969B); */
}

.App-header .App-logo {
  height: 80%;

  margin: 7.5px;
  object-fit: contain;
  pointer-events: none;
}

.App-header nav {
  height: 100%;
}

.App-header nav ul {
  display: flex;
  /* align-items: center; */

  height: 100%;

  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  list-style-type: none;
}

.App-header nav ul li {
  display: flex;
  align-items: center;
  text-align: center;

  margin-right: 5vw;
  color: #EBEBEB;
  border-bottom: 5px solid #7d7d7d;
  transition: 200ms;
}

.App-header nav ul li:hover {
  color: white;
  border-bottom: 5px solid #EBEBEB;
  cursor: pointer;
}

.App-header nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* MAIN */

#hero-image div {
  font-family: 'Inter', sans-serif;
  font-size: 130%;

  color: black;
}

#hero-image div h1 {
  margin-top: 100px;
  margin-bottom: 0px;
}

#hero-image div p {
  margin-top: 0;
}

#hero-image img {
  /* subtract header height */
  height: calc(100vh - 75px);
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

#hero-image button {
  display: none; /* effectively remove the button */
}

/* SECTIONS */

section:not(#projects) {
  width: 60vw;
  margin: 20px auto 20px auto;
  background-color: white;
  padding: 20px;
  border: 1.5px solid lightgrey;
  border-radius: 3px;
}

#work {
  text-align: center;
  margin-top: 40px;
}

#projects {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #93c5c3;

}

#projects div {
  font-family: 'Inter', sans-serif;
  width: 20vw;
  margin: 20px 2vw 20px 2vw;
  background-color: white;
}

#projects div:hover {
  box-shadow: 0px 3px 10px #d5d5d5;
}

/* FOOTER */

footer {
  height: 40px;
  background-color: lightgreen;
}
